/*.card{
    margin: 10px;
}*/

.bg-active{
    background-color:#1abc9c;
}

.bg-inactive{
    background-color: #95a5a6;
}

.bg-black{
    background-color: #000;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.btn-pr {
    overflow: hidden;
    cursor: pointer;
    position:absolute;
    bottom:10px;
    right:10px;
    z-index: 10;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    padding: 0 16px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    background-image: none;
    background-color: #E0E0E0;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

    -ms-touch-action: manipulation;
        touch-action: manipulation;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.btn-accent {
    color: #ffffff;
    background-color: #EC407A;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent.focus,
.btn-accent:active,
.btn-accent.active {
    color: #ffffff;
    background-color: #E91E63;
}

.btn-raised {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
       -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.btn-action-lg {
    width: 90px;
    height: 80px;
    line-height: 84px;
    padding: 0;
    border-radius: 5px 20px 5px;
    /*border-radius: 32px;*/
}
